#elem, #elem0, #elem1{
  background-color: #333;
  color: white;
  font-size: 90vw;
  font-family: 'Cabin Sketch', cursive;
}
#elem3{
  background-color: #222;
  color: white;
  font-size: 40vw;
  font-family: 'Cabin Sketch';
}
#elem2{
  background-color: #111;
  color: white;
  font-size: 20vw;
  font-family: cursive;
}
body{
  background-color: #999;
}
#btun{
  font-size: 70vw;
  font-family: 'Cabin Sketch';
  padding-top: 65vw;
  padding-bottom: 65vw;
  border: none;
  outline: none;
}
.bob {
    height: 300vw;
    width: 300vw;
    border-radius: 100%;
    margin-left: 90vw;
    border: 5vw red dotted;
    background-color: black;
  }
.button5 {
  border-radius: 50%;
    background-color: #31B94D;
    border: none;
    color: white;
    padding: 0vw 40vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40vw;
    margin-top: 120vw;
    margin-left: 400vw;
    cursor: pointer;
    outline: none;
    box-shadow: 0 8vw #777;
}
.button5:active {
  background-color: #228B22;
  box-shadow: 0 5vw #555;
  transform: translateY(3vw);
}
.button6 {
  border-radius: 50%;
    background-color: #31B94D;
    border: none;
    color: white;
    padding: 0vw 35vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 38vw;
    margin-left: 120vw;
    margin-top: 125vw;
    cursor: pointer;
    outline: none;
    box-shadow: 0 8vw #777;
}
.button6:active {
  background-color: #228B22;
  box-shadow: 0 5vw #555;
  transform: translateY(3vw);
}
#timer{
  padding-top: 110vw;
  padding-left: 12vw;
  color: #F00000;
  font-size: 49vw;
  font-family: 'Orbitron', sans-serif;
}
